In [45]:
import numpy as np
import pypsa
network=pypsa.Network()

n_bus =3
for i in range(n_bus):
    network.add("Bus", f"My bus{i}", v_nom=20.0)
network.buses

,v_nom,type,x,y,carrier,unit,v_mag_pu_set,v_mag_pu_min,v_mag_pu_max,control,generator,sub_network
Bus,,,,,,,,,,,,
My bus0,20.0,,0.0,0.0,AC,,1.0,0.0,inf,PQ,,
My bus1,20.0,,0.0,0.0,AC,,1.0,0.0,inf,PQ,,
My bus2,20.0,,0.0,0.0,AC,,1.0,0.0,inf,PQ,,

In [46]:
for i in range(n_bus):
    network.add("Line",f"My line{i}",bus0=f"My bus{i}",bus1=f"My bus{(i+1)% n_bus}",x=0.1,r=0.1)
network.lines

,bus0,bus1,type,x,r,g,b,s_nom,s_nom_mod,s_nom_extendable,...,v_ang_min,v_ang_max,sub_network,x_pu,r_pu,g_pu,b_pu,x_pu_eff,r_pu_eff,s_nom_opt
Line,,,,,,,,,,,,,,,,,,,,,
My line0,My bus0,My bus1,,0.1,0.1,0.0,0.0,0.0,0.0,False,...,-inf,inf,,0.0,0.0,0.0,0.0,0.0,0.0,0.0
My line1,My bus1,My bus2,,0.1,0.1,0.0,0.0,0.0,0.0,False,...,-inf,inf,,0.0,0.0,0.0,0.0,0.0,0.0,0.0
My line2,My bus2,My bus0,,0.1,0.1,0.0,0.0,0.0,0.0,False,...,-inf,inf,,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [47]:
network.add("Generator","My gen", bus="My bus0", p_set=100, control="PQ")
network.generators
network.generators.p_set

Generator
My gen    100.0
Name: p_set, dtype: float64

In [48]:
network.add("Load","My load",bus= "My bus1",p_set=100)
network.loads
network.loads.p_set
network.loads.q_set=100.0

In [49]:
network.pf()

INFO:pypsa.pf:Performing non-linear load-flow on AC sub-network <pypsa.components.SubNetwork object at 0x000002950DBF4100> for snapshots Index(['now'], dtype='object', name='snapshot')

{'n_iter': SubNetwork  0
 snapshot
 now         3,
 'error': SubNetwork             0
 snapshot
 now         6.952632e-09,
 'converged': SubNetwork     0
 snapshot
 now         True}

In [50]:
network.lines_t.p0

           My line0   My line1   My line2
snapshot
now       69.050664 -33.333333 -33.929333

In [62]:
network.buses_t.v_ang * 180 / np.pi

Bus       My bus0       My bus1       My bus2
snapshot
now           0.0  6.212021e-18  3.220753e-18

In [63]:
network.buses_t.v_mag_pu

Bus       My bus0   My bus1   My bus2
snapshot
now           1.0  0.965475  0.982737